@use "../mixin" as m;
@use "../variables" as v;

.about {
    @include m.flex(column);
    text-align: center;
    &__title {
        color: v.$yellow;
        margin-bottom: 4rem;
    }
    &__text {
        font-size: v.$normal;
        margin: 0 20px;
    }
}
