@use "../mixin" as m;
@use "../variables" as v;

.about {
    @include m.flex(column);
    height: 100%;
    @include m.paddingX-size(3rem);
    font-weight: lighter;
    line-height: 1.7;

    &__title {
        font-size: v.$x-large;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: center;

        text-transform: capitalize;

    }
    &__text {
        font-size: v.$large;
        margin: 0 5rem;
    text-align: center;

    }
}
