@use "../mixin" as m;
@use "../variables" as v;

.about {
    @include m.flex(column);
    height: 100%;
    padding: 3rem v.$padding-x;
    font-weight: lighter;
    line-height: 1.7;
    &__title {
        @include m.title;
        margin: 2rem 0;
    }
    &__text {
        font-size: v.$large;
        margin-bottom: 30px;
    }
}
