@use "../mixin" as m;
@use "../variables" as v;

.about {
    @include m.flex(column, center, flex-start);
    height: 100%;
    @include m.paddingX-size(2rem);
    font-weight: lighter;
    line-height: 1.7;
    &__title {
        font-size: v.$x-large;
        font-weight: bold;
        margin-bottom: 2rem;
        @include m.respond-to(md) {
            font-size: 24px;
        }
    }
    &__text {
        font-size: v.$large;
        text-align: justify;
        margin-bottom: 1rem;
        @include m.respond-to(md) {
            font-size: 18px;
        }
    }
    @include m.respond-to(md) {
        line-height: 1.6;
    }
}
