@use "../mixin" as m;
@use "../variables" as v;

.about {
    @include m.flex(column);
    text-align: center;
    &__title {
        @include m.title;
        margin: 2rem;
    }
    &__text {
        font-size: v.$large;
        margin: 10px 20px;
    }
}
