.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    &__title {
        color: #cb9e0c;
        margin-bottom: 4rem;
    }
    &__text {
        font-size: 18px;
        margin: 0 20px;
    }
}
