@use "../mixin" as m;
@use "../variables" as v;

.movie {
    @include m.flex(row, space-between, flex-start);
    font-size: v.$normal;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 6rem v.$padding-x;
    padding-bottom: 8rem;
    z-index: 1;
    line-height: 2;
    background-color: #262c40;
    &__bg {
        @include m.bgImage(0.08);
    }
    &__poster {
        flex: 1;
        height: 525px;
        width: 350px;
        position: relative;
        img {
            border-radius: 20px;
            object-fit: fill;
        }
    }
    &__info {
        @include m.flex(column, center, flex-start);
        flex: 2;
        padding-left: 4rem;
        &__title {
            @include m.flex(row, center);
            @include m.title;
            line-height: 1.7;
            &__score {
                margin-left: 20px;
                background-color: rgba(v.$yellow, 0.8);
                color: white;
                border-radius: 50%;
                padding: 7px;
                font-size: v.$normal;
            }
        }
        &__date {
            color: gray;
            margin-bottom: 10px;
        }
        &__overview {
            margin-top: 20px;
        }
        &__tagline {
            color: v.$yellow;
            margin-top: 1.5rem;
        }
        &__moreInfo {
            @include m.flex(row, space-between, flex-start);
            width: 100%;
            margin-top: 2.5rem;
            font-size: v.$small;
            span {
                margin-bottom: 10px;
            }
        }
    }
}
