@use "../mixin" as m;
@use "../variables" as v;

.movie {
    @include m.flex(row, space-between, flex-start);
    @include m.paddingX-size(2rem);
    font-size: v.$normal;
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 8rem;
    z-index: 1;
    line-height: 2;
    background-color: v.$bg-color;
    @include m.respond-to(md) {
        @include m.flex(column, space-between);
    }
    &__bg {
        @include m.bgImage(0.1);
    }
    &__imgContainer {
        flex: 1;
        text-align: center;
        @include m.respond-to(md) {
            width: 50%;
            margin-bottom: 20px;
        }
        &__img {
            position: relative;
            aspect-ratio: 0.66;
            margin-bottom: 25px;
            &__poster {
                border-radius: 20px;
            }
        }
        &__score {
            color: v.$yellow;
            text-align: center;
            display: inline-block;
            @include m.font-size(v.$large);
        }
    }
    &__info {
        @include m.flex(column, center, flex-start);
        flex: 3;
        padding-left: 4rem;
        @include m.respond-to(md) {
            padding-left: 0;
            align-items: center;
            flex: 1;
        }
            &__title {
                @include m.font-size(v.$x-large);
                text-shadow: 1px 1px 2px v.$yellow;
            }
        &__date {
            color: gray;
            margin-bottom: 1rem;
        }
        &__overview {
            text-align: justify;
            margin-bottom: 1rem;

        }
        &__lineAndTrailerBtn{
            @include m.flex(row, space-between, center);
            @include m.font-size(v.$large);

            width: 100%;
            margin: 1.5rem 0;
            &__line {
            color: v.$yellow;

            }
            &__trailerBtn {
                @include m.flex(row, center);
                $root: &;
                background-color: v.$yellow;
                transition: all 0.5s ease-in-out;
                padding: 0.2rem;
                border-radius: 40px;
                cursor: pointer;
                width: 25%;
                &__icon {
                    margin-right: 10px;
                    #{$root}:hover & {
                        animation: rotation 2s infinite linear;
                    }
                }
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
        &__details {
            @include m.flex(row, space-between, flex-start);
            width: 100%;
            font-size: v.$small;
            @include m.respond-to(sm) {
                flex-wrap: wrap;
            }
        }
    }
}
