@use "../mixin" as m;
@use "../variables" as v;

.movie {
    @include m.flex(row, space-between, start);
    &__img {
        flex: 1;
        img {
            border-radius: 10px;
        }
    }
    &__info {
        @include m.flex(column, space-between, start);
        flex: 2;
        padding: 0 25px;
        line-height: 1.5;
        &__title {
            @include m.title;
            @include m.flex(row, center);
            &__score {
                margin-left: 20px;
                background-color: rgba(v.$yellow, 0.8);
                color: white;
                border-radius: 50%;
                padding: 7px;
                font-size: v.$small;
            }
        }
        &__date {
            color: gray;
            margin-bottom: 20px;
        }
        &__overview {
            margin: 20px 0;
        }
        &__moreDetail {
            @include m.flex(row, space-between, start);
            width: 100%;
            margin: 30px 0;
        }
    }
}
