@use "../mixin" as m;
@use "../variables" as v;

.movie {
    @include m.flex(row, space-between, flex-start);
    @include m.paddingX-size(3rem);
    font-size: v.$normal;
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 8rem;
    z-index: 1;
    line-height: 2;
    background-color: v.$bg-color;
    @include m.respond-to(md) {
        @include m.flex(column, space-between);
    }
    &__bg {
        @include m.bgImage(0.1);
    }
    &__imgContainer {
        flex: 1;
        position: relative;
        aspect-ratio: 0.66;
        @include m.respond-to(md) {
            width: 50%;
            margin-bottom: 20px;
        }
        &__poster {
            border-radius: 20px;
        }
    }
    &__info {
        @include m.flex(column, center, flex-start);
        flex: 2;
        padding-left: 4rem;
        @include m.respond-to(md) {
            padding-left: 0;
            align-items: center;
            flex: 1;
        }
        &__header {
            @include m.flex(row, space-between, flex-start);
            width: 100%;
            gap: 50px;
            &__title {
                @include m.flex(row, start, center);
                @include m.title;
                line-height: 1.7;
                flex: 4;
                &__score {
                    margin-left: 20px;
                    background-color: rgba(v.$yellow, 0.8);
                    color: white;
                    border-radius: 50%;
                    font-size: v.$normal;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 40px;
                }
            }
            &__watchTrailerBtn {
                @include m.font-size(v.$large);
                flex: 1;
                border-bottom: 2px solid v.$yellow;
                color: v.$yellow;
                cursor: pointer;
            }
        }
        &__date {
            color: gray;
            margin-bottom: 10px;
        }
        &__overview {
            margin-top: 20px;
            @include m.respond-to(md) {
                text-align: justify;
            }
            &__tagline {
                color: v.$yellow;
                margin-top: 1.5rem;
            }
        }
        &__moreInfo {
            @include m.flex(row, space-between, flex-start);
            width: 100%;
            margin-top: 2.5rem;
            font-size: v.$small;
            @include m.respond-to(sm) {
                flex-wrap: wrap;
            }
        }
    }
}
