@use "../mixin" as m;
@use "../variables" as v;

.movie {
    @include m.flex(column, space-between);
    padding: 2rem 0;
    font-size: v.$normal;
    line-height: 1.7;
    &__details {
        @include m.flex(row, space-between, flex-start);
        margin-bottom: 4rem;
        &__img {
            flex: 1;
        }
        &__info {
            @include m.flex(column, space-between, flex-start);
            flex: 2;
            padding-left: 25px;
            &__title {
                @include m.flex(row, center);
                @include m.title;
                &__score {
                    margin-left: 20px;
                    background-color: rgba(v.$yellow, 0.8);
                    color: white;
                    border-radius: 50%;
                    padding: 7px;
                    font-size: v.$normal;
                }
            }
            &__date {
                color: gray;
                margin-bottom: 20px;
            }
            &__overview {
                margin-top: 20px;
            }
        }
    }
    &__moreDetail {
        @include m.flex(row, space-between, flex-start);
        width: 100%;
        margin-top: 2.5rem;
    }
    &__tagline {
        color: v.$yellow;
        margin-top: 5rem;
    }
    &__backdropImg {
        width: 100%;
    }
}
