@use "../mixin" as m;
@use "../variables" as v;

.movie {
    @include m.flex(column, space-around);
    text-align: center;
    margin-top: 30px;
    &__title {
        @include m.title;
    }
    &__info {
        @include m.flex(row, center);
        margin-top: 20px;
        p {
            font-size: v.$normal;
        }
        &__score {
            margin-left: 20px;
            background-color: v.$yellow;
            opacity: 0.9;
            border-radius: 50%;
            padding: 8px;
        }
    }
    &__img {
        border-radius: 8px;
    }
    &__overview {
        margin: 30px 0;
    }
    &__moreInfo {
        @include m.flex(row, space-around);
        width: 100%;
        margin: 30px 0;
    }
}
