.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  &__jumbotron {
    background-color: #1c202f;
    border-radius: 10px;
    text-align: center;
    padding: 3rem;
    margin-bottom: 4rem;
  }
  &__title {
    color: #cb9e0c;
    margin: 40px 0px;
  }
  &__section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10% 40px;
    margin-bottom: 150px;
  }
}
