@use "../mixin" as m;
@use "../variables" as v;

.home {
  @include m.flex(column, space-between, center);
  font-size: v.$normal;
  flex:1;
  &__content {
    width: 100%;
    height: 100%;
    &__lists{
      @include m.paddingX-size(2rem);
      &__title{
        font-size: 40px;
        margin-bottom: 3rem;
        text-shadow: 1px 1px 2px v.$yellow;
      }
    }
  }
}
