@use "../mixin" as m;
@use "../variables" as v;

.home {
  @include m.flex(column, space-between);
  font-size: v.$normal;
  &__jumbotron {
    background-color: v.$dark-blue;
    border-radius: 10px;
    text-align: center;
    padding: 4rem;
    margin-bottom: 4rem;
    font-size: v.$large;
    line-height: 1.5;
  }
  &__title {
    color: v.$yellow;
    margin: 40px 0px;
  }
  &__section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10% 40px;
    margin-bottom: 150px;
  }
}
