@use "../mixin" as m;
@use "../variables" as v;

.home {
  @include m.flex(column, center, center);
  font-size: v.$normal;
  flex:1;
  &__content {
    &__movies{
      @include m.paddingX-size(2rem);
    }
  }
}
