@use "../mixin" as m;
@use "../variables" as v;

.searchResults{
    @include m.flex(column, space-between, flex-start);
    @include m.paddingX-size(3rem);
    height: 100%;
    width: 100%;
    &__title {
        @include m.title;
        margin-bottom: 30px;
        text-transform: capitalize;
    }
    &__data {
        display: flex;
        flex-wrap: wrap;
        &__link {
            flex-basis: 16.66%;
            @include m.respond-to(xl) {
                flex-basis: 25%;
            }
        }
    }
}