@use "../mixin" as m;
@use "../variables" as v;

.searchResults {
    @include m.paddingX-size(3rem);
    @include m.flex(column, start, flex-start);
    flex:1;
    &__title {
        font-size: v.$x-large;
        margin-bottom: 50px;
        text-transform: capitalize;
    }
    &__content {
        @include m.flex(column, start, flex-start);
        width: 100%;
        &__title{
            font-size: v.$x-large;
            color: v.$yellow;
            margin-bottom: 20px
        }
        &__data {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2rem;

            &__link {
                flex-basis: 16.66%;
                @include m.respond-to(xl) {
                    flex-basis: 25%;
                }
            }
        }
    }
    &__noResults {
        @include m.flex(column, center, center);
        &__title {
            font-size: v.$x-large;
            color: v.$yellow;
            text-transform: capitalize;
            margin-bottom: 20px;
        }
        &__text {
            font-size: v.$large;
            color: v.$text-color;
            text-transform: capitalize;
        }
    }
}
