@use "../mixin" as m;
@use "../variables" as v;

.btn {
    padding: 0.8rem;
    font-size: v.$large;
    border-radius: 40px;
    cursor: pointer;
}

.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
    &__bg {
        @include m.bgImage(0.4);
    }
    &__content {
        @include m.flex(column, space-around, flex-start);
        padding: 5rem v.$padding-x;
        height: 90%;
        width: 50%;
        &__title {
            @include m.lineClamp();
            font-size: 3.5rem;
            margin-bottom: 10px;
        }
        &__score {
            font-weight: bold;
            color: v.$yellow;
            font-size: 2rem;
            margin-right: 15px;
        }
        &__overview {
            @include m.lineClamp();
            line-height: 1.8;
            font-size: v.$large;
            text-align: left;
            font-weight: 600;
        }
        &__btns {
            @include m.flex(row, center);
            &__watchTrailerBtn {
                @include m.flex(row, center);
                @extend .btn;
                background-color: v.$yellow;
                margin-right: 15px;
            }
            &__seeDetailBtn {
                @extend .btn;
                color: v.$yellow;
                border: 2px solid v.$yellow;
                &:hover {
                    background-color: v.$yellow;
                    color: white;
                }
            }
        }
    }
}
