@use "../mixin" as m;
@use "../variables" as v;

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.btn {
    padding: 0.7rem;
    font-size: v.$large;
    border-radius: 40px;
    cursor: pointer;
    height: 55px;
}

.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
    margin-bottom: 2rem;
    @include m.respond-to(lg) {
        height: 80vh;
        margin-bottom: 0;
    }
    &__bg {
        @include m.bgImage(0.3);
    }
    &__content {
        @include m.flex(column, space-around, flex-start);
        @include m.paddingX-size(5rem);
        @include m.respond-to(md) {
            @include m.flex(column, space-around, center);
            @include m.paddingX-size(1rem);
            text-align: center;
            width: 100%;
        }
        height: 90%;
        width: 70%;
        &__title {
            @include m.lineClamp();
            @include m.respond-to(md) {
                font-size: 3.5rem;
            }
            @include m.respond-to(sm) {
                font-size: 2.7rem;
            }
            font-size: 4rem;
            margin-bottom: 10px;
        }
        &__score {
            font-weight: bold;
            color: v.$yellow;
            font-size: 2rem;
            margin-right: 15px;
        }
        &__overview {
            @include m.lineClamp();
            @include m.respond-to(md) {
                text-align: center;
                line-clamp: none;
            }
            line-height: 1.8;
            font-size: v.$large;
            text-align: left;
        }
        &__btns {
            @include m.flex(row, center);
            &__watchTrailerBtn {
                @include m.flex(row, center, center);
                @include m.font-size(v.$large);
                @extend .btn;
                $root: &;
                background-color: v.$yellow;
                margin-right: 15px;
                transition: all 0.5s ease-in-out;
                &__icon {
                    margin-right: 10px;
                    #{$root}:hover & {
                        animation: rotation 2s infinite linear;
                    }
                }
                &:hover {
                    transform: scale(1.05);
                }
            }
            &__seeDetailBtn {
                @extend .btn;
                @include m.flex(column, center, center);
                @include m.font-size(v.$large);
                color: v.$yellow;
                border: 2px solid v.$yellow;
                transition: all 0.5s ease-in-out;
                &:hover {
                    background-color: v.$yellow;
                    color: white;
                    transform: scale(1.05);
                }
            }
        }
    }
}
