@use "../mixin" as m;
@use "../variables" as v;

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.btn {
    padding: 0.7rem;
    font-size: v.$large;
    border-radius: 40px;
    cursor: pointer;
}

.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
    &__bg {
        @include m.bgImage(0.5);
    }
    &__content {
        @include m.flex(column, space-around, flex-start);
        @include m.paddingX-size(5rem);
        height: 90%;
        width: 60%;
        &__title {
            @include m.lineClamp();
            font-size: 4rem;
            margin-bottom: 10px;
        }
        &__score {
            font-weight: bold;
            color: v.$yellow;
            font-size: 2rem;
            margin-right: 15px;
        }
        &__overview {
            @include m.lineClamp();
            line-height: 1.8;
            font-size: v.$large;
            text-align: left;
            font-weight: lighter;
        }
        &__btns {
            @include m.flex(row, center);
            &__watchTrailerBtn {
                @include m.flex(row, center);
                @extend .btn;
                $root: &;
                background-color: v.$yellow;
                margin-right: 15px;
                transition: all 0.5s ease-in-out;
                &__icon {
                    margin-right: 10px;
                    #{$root}:hover & {
                        animation: rotation 2s infinite linear;
                    }
                }
                &:hover {
                    transform: scale(1.05);
                }
            }
            &__seeDetailBtn {
                @extend .btn;
                color: v.$yellow;
                border: 2px solid v.$yellow;
                transition: all 0.5s ease-in-out;
                &:hover {
                    background-color: v.$yellow;
                    color: white;
                    transform: scale(1.05);
                }
            }
        }
    }
}
