@use "../mixin" as m;
@use "../variables" as v;

.card {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &__image {
        border-radius: 10px;
    }
    &__title {
        margin: 13px 0;
        font-weight: bold;
    }
    &__info {
        @include m.flex(row, flex-start);
        font-size: v.$small;
        &__date {
            font-weight: lighter;
            margin-right: 20px;
        }
        &__score {
            color: v.$yellow;
            border: 1px solid v.$yellow;
            border-radius: 50%;
            padding: 6px;
        }
    }
    &:hover {
        transform: scale(1.1);
    }
}
