@use "../mixin" as m;
@use "../variables" as v;

.card {
    $root: &;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width: 205px;
    height: 400px;
    &__image {
        border-radius: 10px;
    }
    &__title {
        margin: 13px 0;
        font-weight: bold;
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            #{$root}:hover & {
                white-space: inherit;
                overflow: visible;
            }
        }
    }
    &__info {
        @include m.flex(row, flex-start);
        font-size: v.$small;
        &__date {
            font-weight: lighter;
            margin-right: 20px;
        }
        &__score {
            color: v.$yellow;
            border: 1px solid v.$yellow;
            border-radius: 50%;
            padding: 6px;
        }
    }
    &:hover {
        transform: scale(1.05);
    }
    @media screen and (min-width: 1600px) {
        width: 220px;
        height: 430px;
    }
}
