@use "../mixin" as m;
@use "../variables" as v;

.card {
    cursor: pointer;
    &__image {
        border-radius: 8px;
    }
    &__title {
        text-align: center;
        margin: 10px;
    }
    &__info {
        @include m.flex(row, space-around);
        &__date {
            font-weight: lighter;
        }
        &__score {
            @include m.flex(row, center);
            margin-left: 20px;
            background-color: v.$yellow;
            opacity: 0.8;
            border-radius: 50%;
            padding: 8px;
            width: 35px;
        }
    }
}
