@use "../mixin" as m;
@use "../variables" as v;

.card {
    $root: &;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width: 175px;
    height: 340px;
    margin-bottom: 5rem;
    &__imgContainer {
        position: relative;
        aspect-ratio: 0.66;
        flex: 1;
        &__poster {
            border-radius: 10px;
        }
    }
    &__title {
        font-weight: bold;
        margin: 13px 0;
        &__name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            #{$root}:hover & {
                white-space: inherit;
                overflow: visible;
            }
        }
    }
    &__info {
        @include m.flex(row, flex-start);
        font-size: v.$small;
        &__score {
            @include m.flex(row, space-between);
            color: v.$yellow;
            border: 0.5px solid v.$yellow;
            border-radius: 5px;
            padding: 2px 7px;
            margin-right: 20px;
        }
        &__date {
            font-weight: lighter;
        }
    }
    &:hover {
        transform: scale(1.05);
    }
    @include m.respondTo(xl) {
        width: 140px;
        height: 273px;
    }
}
