.card {
    cursor: pointer;
    &__image {
        border-radius: 8px;
    }
    &__title {
        text-align: center;
        margin: 10px;
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &__date {
            font-weight: lighter;
        }
        &__score {
            margin-left: 20px;
            background-color: rgba(203, 158, 12, 0.8);
            border-radius: 50%;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
        }
    }
}
