@use "../mixin" as m;
@use "../variables" as v;

.card {
    $root: &;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width: 145px;
    height: 282px;
    margin-bottom: 5rem;
    @include m.respond-to(xl) {
        width: 170px;
        height: 331px;
    }
    @include m.respond-to(sm) {
        width: 150px;
        height: 292px;
    }
    &__imgContainer {
        flex: 1;
        position: relative;
        aspect-ratio: 0.66;
        &__poster {
            border-radius: 10px;
        }
    }
    &__info {
        @include m.flex(row, flex-start);
        margin: 25px 0 15px 0;
        @include m.font-size(v.$small);
        &__score {
            @include m.flex(row, space-between);
            color: v.$yellow;
            border: 0.5px solid v.$yellow;
            border-radius: 5px;
            padding: 2px 7px;
            margin-right: 20px;
        }
        &__date {
            font-weight: lighter;
        }
    }
    &__title {
        font-weight: bold;
        @include m.font-size(v.$normal);
        &__name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            #{$root}:hover & {
                white-space: inherit;
                overflow: visible;
            }
        }
    }
    &:hover {
        transform: scale(1.05);
    }
}
