@use "../mixin" as m;
@use "../variables" as v;

.errContainer{
    @include m.flex(column, center, center);
    gap:20px;
    width: 100%;
    height: 100%;
    &__code{
        @include m.font-size(v.$xx-large);
        font-weight: bold;
        color: v.$yellow
    }
    &__title{
        @include m.font-size(v.$large);
        font-weight: bold;
    }
}