@use "../mixin" as m;
@use "../variables" as v;

.footer {
    @include m.flex(row, space-between);
    background-color: v.$dark-blue;
    padding: 5rem 10rem;
    margin-top: 5rem;
    width: 100%;
    font-size: v.$normal;
    &__logo {
        flex: 1;
    }
    &__quote {
        flex: 2;
        text-align: center;
        line-height: 1.5;
    }
    &__social {
        @include m.flex(row, flex-end);
        flex: 1;
        &__icon {
            cursor: pointer;
            margin-left: 15px;
        }
    }
}
