@use "../mixin" as m;
@use "../variables" as v;

.footer {
    @include m.flex(row, space-between);
    background-color: v.$dark-blue;
    @include m.paddingX-size(5rem);
    width: 100%;
    font-size: v.$normal;
    &__logo {
        flex: 1;
    }
    &__quote {
        flex: 2;
        text-align: center;
        line-height: 1.5;
    }
    &__social {
        @include m.flex(row, flex-end);
        flex: 1;
        &__icon {
            $root: &;
            cursor: pointer;
            margin-left: 25px;
            transition: all 0.15s ease;
            position: relative;
            &__tooltip {
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                padding: 0.6rem 1rem;
                border-radius: 40px;
                font-size: 0.8rem;
                font-weight: bold;
                opacity: 0;
                transform: translate(-50%, -100%);
                transition: all 0.3s ease;
                background-color: v.$yellow;
                border-top-color: v.$yellow;
                &::before {
                    position: absolute;
                    content: "";
                    height: 15px;
                    width: 15px;
                    background: v.$yellow;
                    left: 50%;
                    bottom: -6px;
                    transform: translateX(-50%) rotate(45deg);
                    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
                #{$root}:hover & {
                    visibility: visible;
                    opacity: 1;
                    transform: translate(-50%, -150%);
                }
            }
        }
    }
}
