.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1c202f;
    padding: 4rem 10rem;
    margin-top: 5rem;
    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-weight: lighter;
    }
    &__social {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 25%;
        border-radius: 10px;
        text-align: center;
        &__icon {
            margin-right: 13px;
            cursor: pointer;
        }
    }
}
