@use "../mixin" as m;
@use "../variables" as v;

.footer {
    @include m.flex(row, space-around);
    background-color: v.$dark-blue;
    padding: 4rem 10rem;
    margin-top: 5rem;
    width: 100%;
    &__nav {
        @include m.flex(column, space-around);
        font-weight: lighter;
        font-size: v.$small;
    }
    &__social {
        @include m.flex(row, space-around);
        width: 25%;
        border-radius: 10px;
        text-align: center;
        &__icon {
            margin-right: 13px;
            cursor: pointer;
        }
    }
}
