@use "../mixin" as m;
@use "../variables" as v;

.header {
    @include m.flex(row, space-between);
    @include m.paddingX-size(2rem);
    width: 100%;
    z-index: 2;
    position: relative;
    &__navbar {
        @include m.flex(row, space-between);
        @include m.font-size(v.$large);
        font-weight: lighter;
        word-spacing: 3px;
        gap: 25px;
        @include m.respond-to(lg) {
            gap: 10px;
        }
        @include m.respond-to(md) {
            display: none;
        }
    }
    &__activeNavbar {
        @include m.flex(column, center, center);
        font-weight: normal;
        position: absolute;
        margin-top: 5.5rem;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background-color: v.$bg-color;
        padding-bottom: 6rem;
        @include m.font-size(v.$x-large);
        grid-gap: 20px;
    }
    &__mobileMenu {
        display: none;
        @include m.respond-to(md) {
            @include m.flex(row, center, center);
            height: 100%;
            gap: 15px;
            z-index: 10;
        }
    }
}
