@use "../mixin" as m;
@use "../variables" as v;

.header {
    @include m.flex(row, space-between);
    @include m.paddingX-size(2rem);
    width: 100%;
    &__menu {
        $root: &;
        width: 20%;
        @include m.respond-to(xl) {
            width: 25%;
        }
        &__burgerMenuBtn {
            display: none;
            cursor: pointer;
            @include m.respond-to(md) {
                @include m.flex(row, flex-end);
            }
        }
        &__navbar {
            @include m.flex(row, space-around);
            @include m.font-size(v.$large);
            font-weight: lighter;
            @include m.respond-to(md) {
                display: none;
            }
        }
        &__active {
            @include m.respond-to(md) {
                display: block;
            }
        }
    }
}
