@use "../mixin" as m;
@use "../variables" as v;

.header {
    @include m.flex(row, space-between);
    @include m.paddingX-size(2rem);
    width: 100%;
    z-index: 2;
    &__navbar {
    @include m.flex(row, space-between);

        @include m.font-size(v.$large);
        font-weight: lighter;
        word-spacing: 3px;
        gap:25px;
    }
    &__active {
        @include m.flex(column, space-between);
        font-weight: normal;
        position: absolute;
        margin-top: 5.5rem;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
        background-color: rgba(v.$yellow, 0.5);
        padding: 1rem;
    }
    &__burgerMenuBtn {
        display: none;
        cursor: pointer;
        @include m.respond-to(md) {
            display: block;
            z-index: 10;
        }
    }
}
