@use "../mixin" as m;

.header {
    @include m.flex(row, space-between);
    width: 100%;
    padding: 4rem 0;
    &__nav {
        @include m.flex(row, space-around);
        width: 20%;
        font-size: 18px;
    }
}
