.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10rem;
    .navbar {
        display: flex;
        justify-content: space-around;
        width: 20%;
        font-size: 18px;
    }
}
