@use "../variables" as v;
@use "../mixin" as m;

.info {
    @include m.flex(row, flex-start, flex-start);
    width: 100%;
    margin-bottom: 0.5rem;
    @include m.respond-to(sm) {
        margin-top: 30px;
        flex-basis: 50%;
    }
    &__title {
        margin-right: 0.5rem;
    }
}
