@use "../mixin" as m;

.modal {
    @include m.flex(row, space-between, flex-start);
    position: fixed;
    width: 1000px;
    height: 550px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &__closeBtn {
        cursor: pointer;
        margin-right: 10px;
    }
    &__iframe {
        width: 100%;
        height: 100%;
    }
}
