@use "../mixin" as m;

.modal {
    @include m.flex(column, space-between, flex-end);
    overflow: hidden;
    aspect-ratio: 1.77;
    position: fixed;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &__closeBtn {
        cursor: pointer;
        margin-bottom: 10px;
    }
    &__iframe {
        width: 100%;
        height: 100%;
    }
}
