@use "../mixin" as m;
@use "../variables" as v;

.pagination {
    @include m.flex(column, center, flex-start);
    width: 100%;
    &__title {
        color: v.$yellow;
        margin-bottom: 40px;
        margin-top: 100px;
    }
    &__data {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10% 40px;
        margin-bottom: 100px;
    }
    &__btns {
        @include m.flex(row, center);
        align-self: center;
        button {
            border: none;
            background-color: v.$yellow;
            padding: 10px;
            color: v.$dark-blue;
            font-size: v.$small;
            border-radius: 5px;
            cursor: pointer;
            &:disabled {
                opacity: 0.7;
                cursor: auto;
            }
        }
        &__prevBtn {
            margin-right: 15px;
        }
    }
}
