@use "../mixin" as m;
@use "../variables" as v;

.pagination {
    width: 100%;
    margin-bottom: 5rem;
    &__header {
        @include m.flex(row, space-between, center);
        margin-bottom: 3rem;
        &__title {
            color: v.$yellow;
            font-size: v.$x-large;
            @include m.respond-to(sm) {
                font-size: 24px;
            }
        }
        &__btns {
            @include m.flex(row, center);
            align-self: center;
            gap: 10px;
            button {
                border: none;
                font-size: v.$small;
                border-radius: 5px;
                cursor: pointer;
                &:disabled {
                    opacity: 0.7;
                    cursor: auto;
                }
            }
        }
    }
    &__data {
        @include m.flex(row, flex-start, center);
        flex-wrap: wrap;
        gap: 6.25%;
        &__link {
            width: 15%;
            @include m.respond-to(xl) {
                width: 18%;
            }
            @include m.respond-to(md) {
                width: 25%;
            }
            @include m.respond-to(sm) {
                width: 40%;
            }
        }
        @include m.respond-to(xl) {
            gap: 9.33%;
        }
        @include m.respond-to(md) {
            gap: 12.5%;
        }
        @include m.respond-to(sm) {
            gap: 20%;
        }
    }
}
