@use "../mixin" as m;
@use "../variables" as v;

.pagination {
    @include m.flex(column, center, flex-start);
    width: 100%;
    margin-bottom: 5rem;
    &__title {
        color: v.$yellow;
        margin-bottom: 4rem;
    }
    &__data {
        @include m.flex(row, space-between);
        flex-wrap: wrap;
        gap: 5rem 0;
        margin-bottom: 5rem;
    }
    &__btns {
        @include m.flex(row, center);
        align-self: center;
        button {
            border: none;
            background-color: v.$yellow;
            padding: 10px;
            color: v.$dark-blue;
            font-size: v.$small;
            border-radius: 5px;
            cursor: pointer;
            &:disabled {
                opacity: 0.7;
                cursor: auto;
            }
        }
        &__prevBtn {
            margin-right: 15px;
        }
    }
}
