@use "../mixin" as m;
@use "../variables" as v;

.pagination {
    width: 100%;
    margin-bottom: 5rem;
    &__title {
        color: v.$yellow;
        margin-bottom: 4rem;
    }
    &__data {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 10% 6%;
    }
    &__recentlyViewed {
        grid-template-columns: repeat(5, minmax(180px, 1fr));
    }
    &__btns {
        @include m.flex(row, center);
        align-self: center;
        margin-top: 9rem;
        button {
            border: none;
            background-color: v.$yellow;
            padding: 10px;
            color: v.$dark-blue;
            font-size: v.$small;
            border-radius: 5px;
            cursor: pointer;
            &:disabled {
                opacity: 0.7;
                cursor: auto;
            }
        }
        &__prevBtn {
            margin-right: 15px;
        }
    }
}
