@use "../mixin" as m;
@use "../variables" as v;

.pagination {
    width: 100%;
    margin-bottom: 5rem;
    &__header {
        @include m.flex(row, space-between, center);
        margin-bottom: 3rem;
        &__title {
            color: v.$yellow;
            font-size: v.$x-large;
        }
        &__btns {
            @include m.flex(row, center);
            align-self: center;
            gap:10px;
            button {
                border: none;
                font-size: v.$small;
                border-radius: 5px;
                cursor: pointer;
                &:disabled {
                    opacity: 0.7;
                    cursor: auto;
                }
            }
        }
    }
    &__data {
        @include m.flex(row, space-between, center);
        flex-wrap: wrap;
        gap:4%;
        &__link {
            @include m.respond-to(xl) {
                flex-basis: 25%;
            }
        }
    }
}
