@use "../mixin" as m;
@use "../variables" as v;

.person {
    @include m.flex(column, center, center);
    flex-basis: 10%;
    &__imgContainer {
        width: 120px;
        height: 150px;
        position: relative;
        margin-right: 8px;
        &__poster {
            border-radius: 20px;
        }
    }
    &__info {
        @include m.flex(column, center, center);
        text-align: center;
        margin-top: 10px;
        width: 100%;
        &__name {
            @include m.font-size(v.$small);
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: pre-wrap;
            margin-bottom: 5px;
        }
        &__character, &__job {
            color: v.$gray;
            word-break: break-word;
            white-space: initial;
        }
    }
}
