@use "../mixin" as m;

.popup {
    @include m.flex(row, space-between, flex-start);
    position: fixed;
    width: 900px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -250px;
    &__closeBtn {
        cursor: pointer;
        margin-right: 10px;
    }
    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
