@use "./variables" as v;

@mixin flex($direction, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin title {
    color: v.$yellow;
    font-size: v.$x-large;
    font-weight: bold;
}

@mixin bgImage($opacity) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: $opacity;
    background-size: cover;
    content: "";
    z-index: -1;
    @media (max-width: 768px) {
        background-position: center;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            to bottom,
            rgba(v.$bg-color, 1) 0%,
            rgba(v.$bg-color, 0) 50%,
            rgba(v.$bg-color, 1) 100%
        );
    }
}

@mixin lineClamp() {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin paddingX-size($paddingY) {
    padding: $paddingY 10rem;
    @media (max-width: 1200px) {
        padding: $paddingY 7rem;
    }
    @media (max-width: 992px) {
        padding: $paddingY 5rem;
    }
    @media (max-width: 768px) {
        padding: $paddingY 3rem;
    }
    @media (max-width: 576px) {
        padding: $paddingY 1.5rem;
    }
}

@mixin font-size($size) {
    @media (min-width: 0px) {
        font-size: calc($size - 3px);
    }
    @media (min-width: 576px) {
        font-size: calc($size - 2px);
    }
    @media (min-width: 768px) {
        font-size: calc($size - 1px);
    }
    @media (min-width: 992px) {
        font-size: calc($size);
    }
}

@mixin respond-to($breakpoint) {
    @if map-has-key(v.$breakpoints, $breakpoint) {
        @media (max-width: map-get(v.$breakpoints, $breakpoint)) {
            @content;
        }
    }
}
