@use "./variables" as v;

@mixin flex($direction, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin title {
    color: v.$yellow;
    font-size: v.$x-large;
    font-weight: bold;
}

@mixin bgImage($opacity) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: $opacity;
    background-size: cover;
    content: "";
    z-index: -1;
}

@mixin lineClamp() {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
