@use "./variables" as v;

@mixin flex($direction, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin title {
    margin-bottom: 3rem;
    color: v.$yellow;
    font-size: v.$large;
    font-weight: bold;
}
