//colors
$bg-color: #1c202f;
$text-color: white;
$yellow: #cb9e0c;
$dark-blue: #262c40;
$gray: #6c757d;

//font size
$xx-large: 32px;
$x-large: 26px;
$large: 20px;
$normal: 18px;
$small: 16px;
$x-small: 14px;

//breakpoints
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);
