//colors
$bg-color: #1c202f;
$text-color: white;
$yellow: #cb9e0c;
$dark-blue: #262c40;

//font size
$x-large: 24px;
$large: 20px;
$normal: 18px;
$small: 16px;
$x-small: 14px;

//spaces
$padding-x: 10rem;
