.card {
    cursor: pointer;
    .image {
        border-radius: 8px;
    }
    .title {
        text-align: center;
        margin: 10px;
    }
    .scoreAndDate {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .date {
            font-weight: lighter;
        }
        .score {
            color: #cb9e0c;
            border-radius: 50%;
            padding: 8px;
            border: 1px solid #cb9e0c;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
        }
    }
}
