.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1rem 10rem;
    margin-top: 30px;
    .title {
        color: #cb9e0c;
        margin-bottom: 3rem;
    }
    .scoreAndDate {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        align-items: center;
        p {
            font-size: 18px;
        }
        .score {
            margin-left: 20px;
            background-color: rgba(203, 158, 12, 0.8);
            border-radius: 50%;
            padding: 8px;
        }
    }
    .image {
        border-radius: 8px;
    }
    .overview {
        margin: 30px 0;
    }
    .moreInfo {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 30px 0;
    }
}
