.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1c202f;
    padding: 4rem;
    border-radius: 10px;
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-weight: lighter;
    }
    .follow {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 25%;
        border-radius: 10px;
        text-align: center;
        .icon {
            margin-right: 13px;
            cursor: pointer;
        }
    }
}
