@use "./variables" as v;

@import "./pages/home.scss";
@import "./pages/detail.scss";
@import "./pages/about.scss";
@import "./pages/search.scss";
@import "./pages/four-oh-four.scss";
@import "./pages/movies.scss";

@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/card.scss";
@import "./components/banner.scss";
@import "./components/pagination.scss";
@import "./components/info.scss";
@import "./components/modal.scss";
@import "./components/search-bar.scss";
@import "./components/loading-spinner.scss";
@import "./components/error-boundary.scss";
@import "./components/person.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: v.$bg-color;
  color: v.$text-color;
  width: 100%;
  height: 100%;

  #__next {
    width: 100%;
    height: 100%;
  }

  .layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .blur {
    filter: blur(8px);
    pointer-events: none;
    user-select: none;
  }

  input {
    all: unset;
  }
}