@use "./variables" as v;
@import "./pages/home.scss";
@import "./pages/detail.scss";
@import "./pages/about.scss";
@import "./components/layout.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/card.scss";
@import "./components/banner.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: v.$bg-color;
  color: v.$text-color;
  a {
    color: inherit;
    text-decoration: none;
  }
}
