.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .navbar {
        display: flex;
        justify-content: space-around;
        width: 20%;
        font-size: 18px;
    }
}
