.container {
  padding: 0 2rem;
  min-height: 100vh;
  padding: 4rem 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .jumbotron {
    background-color: #1c202f;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
  }
  .title {
    color: #cb9e0c;
  }
  .movies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: ;
  }
}
