.container {
  padding: 0 2rem;
  min-height: 100vh;
  padding: 4rem 10rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .jumbotron {
    background-color: #1c202f;
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
  }
  .title {
    color: #cb9e0c;
    margin: 30px 0px;
  }
  .movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10% 40px;
    margin-bottom: 100px;
  }
}
